<!DOCTYPE HTML>
<html>
	<head>
        <%- include('./partials/head'); %>
    </head>
	<body >
        <header>
            <%- include('./partials/header'); %>
        </header>
        
		<center>   
            <br>         
            <h3>Dis is por Others Page : ></h3>
        </center>
		
	</body>
</html>
